@import '../../../../assets/styles/index';

.top-menu {
  height: 3em;
  @include background-color('topMenuBgColor');
  display: flex;
  align-items: center;
  @include box-shadow(0 2px 3px 0 rgba(0, 0, 0, 0.15));
  z-index: 2;

  .menu-link {
    padding: .5em .5em .5em 1em;
    text-decoration: none;
    text-transform: capitalize;
    @include color('topMenuColor');
    line-height: 1.5;

    &.is-active {
      pointer-events: none;
    }

    &.is-active .link-text, &:hover .link-text {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
    }

    sup {
      @include color('topMenuUnreadIconColor');
      margin: 0 -.7em 0 .15em;
    }
  }
}
