@import '../../../../../../assets/styles/index';

.chat-input-wrapper {
  @include background-color('chatInputBgColor');
  @include color('chatInputColor');
  @include border-color('chatInputBorderColor');
  border-top: 1px solid;
  line-height: 1;
  font-size: 1.2em;

  .chat-input-panel {
    margin: 0;
    display: flex;
    align-items: flex-end;

    &:nth-child(1) {
      padding-left: .5em;
    }

    .emoji-toggle-icon {
      margin: auto .5em auto auto;
      padding-right: .25em;
      padding-top: .1em;
      @include opacity(.8);
      @include transition(opacity .3s ease);
      cursor: pointer;

      &:hover {
        @include opacity(1);
      }

      @media (max-height:500px) {
        display: none;
      }
    }

    textarea {
      @include background-color('chatInputBgColor');
      @include color('chatInputColor');
      border: 0;
      padding: 0 0 1px 0;
      resize: none;
      margin: auto;
      flex: 1;

      &:hover, &:focus {
        outline: none;
      }
    }

    .send-button {
      @include background-color('sendButtonBgColor');
      @include color('sendButtonColor');
      padding: .25em .5em;
      @include border-radius(.2em);
      margin: .25em;
      cursor: pointer;
      text-transform: capitalize;
      user-select: none;
    }
  }

  .emoji-picker-wrapper {
    display: flex;

    @media (min-width:285px) {
      position: absolute;
      bottom: 2.25em;
      @include border-radius(.2em);
      @include box-shadow(1px 2px 1px 0px rgba(0, 0, 0, 0.05));
    }
  }
}
