.chat-input-wrapper {
  //height: 2em;
  background-color: white;
  border-top: 1px solid #dcdcdc;
  line-height: 1;
  font-size: 1.2em;

  .chat-input-panel {
    margin: 0;
    display: flex;
    align-items: flex-end;

    &:nth-child(1) {
      padding-left: .5em;
    }

    .emoji-toggle-icon {
      margin: auto .5em auto auto;
      padding-right: .25em;
      padding-top: .1em;
      opacity: .8;
      transition: opacity .3s ease;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }

      @media (max-height:500px) {
        display: none;
      }
    }

    textarea {
      border: 0;
      padding: 0 0 1px 0;
      resize: none;
      //caret-color: #2ec62b;
      margin: auto;
      flex: 1;

      &:hover, &:focus {
        outline: none;
      }
    }

    .send-button {
      background-color: #2ec62b;
      color: #fff;
      padding: .25em .5em;
      border-radius: .2em;
      margin: .25em;
      cursor: pointer;
      text-transform: capitalize;
    }
  }

  .emoji-picker-wrapper {

    @media (min-width:300px) {
      position: absolute;
      bottom: 2.25em;
      border-radius: .2em;
      box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.05);
    }
  }
}
