@import '../../../../../../assets/styles/index';

select {

  @include background-color('settingsBgColor');
  @include color('settingsColor');
  text-transform: capitalize;
  cursor: pointer;

  &:focus {

    outline: none;
  }
}
