@import '../../../../../../assets/styles/index';

select {

  font-family: monospace;
  text-transform: capitalize;
  font-size: 1.1em;
  @include background-color('bgColor');
  @include color('color');

  cursor: pointer;

  &:focus {

    outline: none;
  }
}
