@import '../../../../../../assets/styles/index';

.reset-button-wrapper {

  .reset-button {
    display: inline-block;
    background-color: #2ec62b;
    color: #fff;
    padding: .25em .5em;
    @include border-radius(.2em);
    margin-top: 1em;
    cursor: pointer;
    text-transform: capitalize;
    user-select: none;
  }
}
