.reset-button-wrapper {

  .reset-button {
    display: inline-block;
    background-color: #2ec62b;
    color: #fff;
    padding: .25em .5em;
    border-radius: .2em;
    margin: .25em;
    cursor: pointer;
    text-transform: capitalize;
  }
}