@import '../../assets/styles/mixins';

select {

  font-family: monospace;
  text-transform: capitalize;
  font-size: .9em;
  @include background-color('bgColor');
  @include color('color');

  cursor: pointer;

  &:focus {

    outline: none;
  }
}
