/// $themes contains variables for theming
/// @access public

$lightThemeGreen: #2ec62b;
$darkThemeYellow: #FEDD31;

$themes: (
        'light': (
                'topMenuBgColor': $lightThemeGreen,
                'topMenuColor': #fff,
                'topMenuUnreadIconColor': brown,
                'messagesBgColor': #f2f2f2,
                'messagesAboveBodyColor': #858585,
                'messageBodyBgColor': white,
                'messageBodyColor': black,
                'messageBodyLinkColor': #999,
                'messageMediaBorderColor': rgba(0,0,0,0.1),
                'chatInputBgColor': white,
                'chatInputColor': black,
                'chatInputBorderColor': #dcdcdc,
                'sendButtonBgColor': $lightThemeGreen,
                'sendButtonColor': #fff,
                'settingsBgColor': #fff,
                'settingsColor': black,
                'resetButtonBgColor': $lightThemeGreen,
                'resetButtonColor': #fff,
                'radioConrollerColor': rgba(0, 0, 0, 0.54),
                'radioConrollerCheckedColor': $lightThemeGreen,
                'inputBorderColor': #999,
                'inputFocusBorderColor': black,
                'validationColor': #E31A1A,
        ),
        'dark': (
                'topMenuBgColor': #343436,
                'topMenuColor': #ddd,
                'topMenuUnreadIconColor': $darkThemeYellow,
                'messagesBgColor': #111,
                'messagesAboveBodyColor': #ddd,
                'messageBodyBgColor': #ddd,
                'messageBodyColor': #111,
                'messageBodyLinkColor': #333,
                'messageMediaBorderColor': rgba(0,0,0,0.1),
                'chatInputBgColor': #111,
                'chatInputColor': #ddd,
                'chatInputBorderColor': #dcdcdc,
                'sendButtonBgColor': $darkThemeYellow,
                'sendButtonColor': #111,
                'settingsBgColor': #111,
                'settingsColor': #ddd,
                'resetButtonBgColor': $darkThemeYellow,
                'resetButtonColor': #111,
                'radioConrollerColor': #ddd,
                'radioConrollerCheckedColor': $darkThemeYellow,
                'inputBorderColor': #999,
                'inputFocusBorderColor': $darkThemeYellow,
                'validationColor': #da1919,
        )
) !default;
