@import '../../../../../../assets/styles/index';

.message-body {

  position: relative;
  @include background-color('messageBodyBgColor');
  @include color('messageBodyColor');

  @include border-radius(.2em);
  @include box-shadow(0 1px 0 1px rgba(0,0,0,0.05));
  overflow: hidden;

  .message-body-text {

    white-space: pre-wrap;
    padding: .8em;
    word-break: break-all;

    a {
      @include color('messageBodyLinkColor');
    }
  }

  .media-wrapper {

    border-top: 1px dashed;
    @include border-color('messageMediaBorderColor');

    .media-item {

      margin-top: .25em;
      width: 100%;

      .media-url {
        font-size: .8em;
        padding: .5em;

        a {
          @include color('messageBodyLinkColor');
        }
      }

      .media-content {

        .youtube-content {
          position:relative;
          padding-bottom:56.25%;
          height:0;
          overflow:hidden;

          iframe, object, embed {
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
          }
        }

        .media-image, img {

          width: 100%;
        }
      }
    }
  }
}
